<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Already Logged In</h4>
</div>

<div class="modal-body flexbox"> 
	You are currently logged in as {{user.username}}, who does not have access to this company. Please select an appropriate company or sign out <a href="{% url 'companies:logout_view' %}">here</a>.
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>