body {
	background: url(../img/403.jpg) no-repeat center center fixed; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	width: 100%;
	height: 100%;
}

.navbar-custom {
	background-color: transparent;
	color: white;
}

a {
	color:white;
}