button {
	border-radius:10px;
}
.dropdown-menu {
	width: 300px;
	text-align: center;
}
.addmembers {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
}

.form {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	padding: 2% 3%;
	height: auto;
}

.form p {
	font-size: 70%;
}